/*
 * Netzberufler Stripe Accounting
 * https://themezee.com
 *
 * Copyright(C) 2015, ThemeZee.com - support@themezee.com
 * License: GPL v3
 * License URI: http://www.gnu.org/licenses/gpl-3.0.html
 *
 * @package Netzberufler Stripe Accounting
 */


/*--------------------------------------------------------------
# General Styles
---------------------------------------------------------------- */

/* Clearing Floats */
.nb-stripe-clearfix:before,
.nb-stripe-clearfix:after {
	content: " ";
	display: table;
}

.nb-stripe-clearfix:after {
	clear: both;
}

.nb-stripe-clearfix {
	*zoom: 1; /* For IE 6/7 only */
}

/*--------------------------------------------------------------
# Invoices Admin Page
---------------------------------------------------------------- */

.nb-stripe-admin-page-wrap h1 {
	margin: 0 0 16px;
}

.nb-stripe-admin-page-content {
	margin: 1em 0 0;
}


/*--------------------------------------------------------------
# Navigation
---------------------------------------------------------------- */
.nb-stripe-admin-page-content .tablenav {
	margin: 2px 0 8px;
}

.nb-stripe-admin-page-content .tablenav select {
	width: 200px;
}

/*--------------------------------------------------------------
# Tables
---------------------------------------------------------------- */
.statistics-table tr td {
	padding: 0;
	border: none;
	font-size: 14px;
}

.statistics-table tr td table {
	border: none;
}

.statistics-table tr td table tr td {
	padding: 0.6em 0.8em;
	border-bottom: 1px solid #ddd;
}

.statistics-table tr td table tr td.total {
	border-top: 1px solid #ddd;
	font-size: 15px;
	font-weight: bold;
}


/*--------------------------------------------------------------
# Pagination
---------------------------------------------------------------- */
.themezee-pagination div {
	margin: 15px 0;
	padding: 5px 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.themezee-pagination  a {
	padding: 5px;
	margin-right: 5px;
}

.themezee-pagination  .current {
	padding: 3px 6px;
	background-color: #444;
	color: #fff;
	margin-right: 5px;

}
